@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(../public/fonts/Inter-Variable.ttf);
}

@font-face {
  font-family: "Unbounded";
  src: url(../public/fonts/Unbounded-Variable.ttf);
}
